<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" (keyup)="buscarMedico(input.value)" class="form-control" placeholder="Buscar medico ...." #input>
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="text-right">
          <button [routerLink]="['/medico', 'nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
            <i class="fa fa-plus">Crear Medico</i>
          </button>
        </div>

        <h3 class="card-title">Medicos Registrados (<small>{{medicosService.totalMedicos}}</small>)</h3>

        <table class="table table-hover">
          <thead>
          <tr>
            <th>Foto</th>
            <th>Medico</th>
            <th>Hospital</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let medico of medicos">
            <td>
              <img (click)="actualizarImagen(medico)" [src]="medico.img | imagen:'medicos'" class="img-50 img-circle pointer">
            </td>
            <td>
              {{medico.nombre}}
            </td>
            <td>
              {{medico.hospital.nombre}}
            </td>
            <td>
              <button class="btn btn-primary" [routerLink]="['/medico', medico._id]">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-danger" (click)="borrarMedico(medico)">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
