<div class="row">

  <div class="col-md-6">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Medico:  {{medico.nombre}}</h3>
      <p *ngIf="medico._id" class="text-muted m-b-30 font-13"> Edicion de medico </p>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form #form="ngForm" ngNativeValidate (ngSubmit)="guardarMedico(form)">
            <div class="form-group">
              <label>Medico</label>
              <input [(ngModel)]="medico.nombre" name="nombre" type="text" class="form-control" placeholder="Nobre del medico">
            </div>
            <div class="form-group">
              <label>Hospital</label>
              <select (change)="cambioHospital($event.target.value)" [(ngModel)]="medico.hospital" class="form-control" name="hospital">
                <option value="">Seleccione Hospital</option>
                <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{hospital.nombre}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
            <button routerLink="/medicos" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card card-body">
      <h4 class="box-title m-b-0">Hospital</h4>
      <img [src]="hospital.img | imagen:'hospitales'" class="rounded img-fluid" align="">
    </div>
  </div>

  <div class="col-md-3" *ngIf="medico._id">
    <div class="card card-body">
      <h4 class="box-title m-b-0">Fotografia</h4>
      <img (click)="cambiarFoto()" [src]="medico.img | imagen: 'medicos'" class="rounded img-fluid pointer" align="">
    </div>
  </div>

</div>
