<div class="row animated fadeIn">

  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del usuario</h4>
        <h6 class="card-subtitle">nombre usuario</h6>
        <form class="form p-t-20" ngNativeValidate #form="ngForm" (ngSubmit)="guardar(form.value)">
          <div class="form-group">
            <label>Nombre de usuario</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" placeholder="Nombre de usuario" required [ngModel]="usuario.nombre" name="nombre">
            </div>
          </div>
          <div class="form-group">
            <label>Correo del usuario</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="email" class="form-control" placeholder="Email usuario" [ngModel]="usuario.email" name="email" [disabled]="usuario.google">
            </div>
          </div>

          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="card">
      <div class="card-body" align="center">
        <h4 class="card-title">Fotografia del usuario</h4>
        <h6 class="card-subtitle">nombre del usuario</h6>

        <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="w150">
        <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
        <input type="file" (change)="seleccionImagen($event.target.files[0])">

        <br>
        <br>
        <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i>Actualizar foto</button>

      </div>
    </div>
  </div>

</div>
