<h3>{{leyenda}}</h3>
<div class="input-group">
  <span class="input-group-btn">
    <button (click)="cambiarValor(-5)" class="btn btn-primary" type="button"><i class="mdi mdi-minus"></i></button>
  </span>

  <input #txtProgress type="number" min="1" max="100" class="form-control" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)">

  <span class="input-group-btn">
    <button (click)="cambiarValor(+5)" class="btn btn-primary" type="button"><i class="mdi mdi-plus"></i></button>
  </span>
</div>
